*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gilroy';
}

*::selection {
    color: white;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F7F7F7;
}
#main {
    padding-top: 70px;
}
#twogood {
    height: 80px;
    transition: all 0.3s ease;
    margin-top: 50px;
}

#twogoodlogo {
    height: 40px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
}

#nav {
    background-color: #F7F7F7;
}

#nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;
}
 #nav-part2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

#links {
    display: flex;
    align-items: center;
    gap: 40px;
}

#links h4 {
    font-size: 20px;
    font-weight: 400;
    color: #1b1919;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: underline;
}

#cursor{
    height: 500px;
    width: 500px;
    background-color: rgb(248, 86, 229);
    position: fixed;
    border-radius: 50%;
   transform: translate(-50%,-50%) scale(0);
   z-index: 9;
   opacity: 0.5;
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-left:  1vw;
    padding-right: 1vw;
    padding-top: 15vw;
    /* background-color: rgb(47, 190, 190); */
    
}
#page1 h1{
    font-size: 13vw;
    text-transform: uppercase;
    font-family:helvetica;
    font-weight: 900;
    line-height: 12vw;
}
#video-container{
  
    height: 100vh;
    width: 100%;
    background-color: gray;
    margin-top: 1vw;
    position: relative;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#video-container #play{
    padding: 3vw 2vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    border-radius: 50%;
    font-weight: 900;
    opacity: 0;
    scale: 0;
}
#page2{
    
    min-height:100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1vw 1vw ;
}
#page2 .elem{
    height: auto;
    width: 31%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;        
    object-fit: cover;
}
 .dets{
  height: 100px;
  width: 80%;
  border-radius: 60px;
  position: absolute;
  top: 50%; 
  left :50%;                       
  transform: translate(-50%, -50%);
  background-color:rgb(249, 184, 151);
  display: flex;
  align-items: center;
  justify-content: space-around;
   overflow: hidden;
  transition: height 0.4s ease;
   
}
.text-row {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    margin-left: 2vw;
    gap: 2vw; 
}
.text-row h4 {
    font-size: 3vh;
    font-weight: 600;
}

#page4{
    min-height: 30vh;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#text4-1 h1{
    text-transform: uppercase;
    font-size: 4vw;
}
#text4-2 h3{
    text-align: start;
    font-size: 1.3vw;
    margin-right: 2vw;
}
#page3 {
    min-height: 120vh;
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.child{
    height: 50vh;
    width: 40vw;
    /* background-color: cadetblue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img{
    height: 100%;
}


@media (max-width:600px) {
    #page1{
     min-height: 20vh;
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    /* background-color: rgb(47, 190, 190); */
    
}
    #page1 h1{
    font-size: 12vw;
    text-transform: uppercase;
    font-family:helvetica;
    font-weight: 900;
    line-height: 12vw;
}
#video-container{
    height: 25vh;
    margin-top: 3vw;
   ;
}
#video-container #play{
    padding: 7.5vw 5.5vw;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 1;
    scale: 1;
    transform:translate(-50%,-50%) ;
}
#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: chartreuse; */
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5vw 3vw ;
}
#page2 .elem{
    height: 100vh;
    width: 100%;
    /* background-color: brown; */
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
}


}